<form class="pure-form pure-form-stacked" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <label for="title">
    title
  </label>
  <input type="text" formControlName="title" required />

  <ng-multiselect-dropdown
    [placeholder]="'select categories'"
    [data]="availableCategories"
    [(ngModel)]="bookForm.value.categories"
    [ngModelOptions]="{standalone: true}"
    [settings]="dropdownSettings"
  >
  </ng-multiselect-dropdown>

  <button class="pure-button" type="submit" [disabled]="!bookForm.valid">Submit</button>
</form>
