<h1>categories:</h1>
<a class="pure-button" routerLink="/category/new">add category</a>
<table class="categories pure-table">
  <thead>
  <tr>
    <th>id</th>
    <th>title</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories">
    <td>{{ category.id }}</td>
    <td>
      <a routerLink="/categories/{{category.id}}">
        {{ category.name }}
      </a>
    </td>
  </tr>
  </tbody>
</table>
