<h2>category id: {{ id }}</h2>
<div *ngIf="category">
  <div *ngIf="!edit">
    <h1>{{ category.name }}</h1>
    <div *ngIf="category.books.length">
      <h3>Books assigned to this category:</h3>
      <ul>
        <li *ngFor="let book of category.books">
          <a routerLink="/books/{{ book.id }}">
            {{ book.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="edit">
    <app-category-form [category]="category"></app-category-form>
  </div>
</div>
<button class="pure-button" (click)="goBack()">go back</button>
<button class="pure-button" (click)="delete()">delete</button>
<a class="pure-button" *ngIf="!edit" routerLink="/categories/{{ id }}/edit">edit</a>
