<h2>book id: {{ id }}</h2>
<div *ngIf="book">
  <div *ngIf="!edit">
    <h1>{{ book.title }}</h1>
    <div *ngIf="book.categories.length">
      <h3>Book is assigned to categories:</h3>
      <ul>
        <li *ngFor="let category of book.categories">
          <a routerLink="/categories/{{ category.id }}">
            {{ category.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="edit">
    <app-book-form [book]="book"></app-book-form>
  </div>
</div>
<button class="pure-button" (click)="goBack()">go back</button>
<button class="pure-button" (click)="delete()">delete</button>
<a class="pure-button" *ngIf="!edit" routerLink="/books/{{ id }}/edit">edit</a>
