<h1>books:</h1>
<a class="pure-button" routerLink="/book/new">add book</a>
<table class="books pure-table">
  <thead>
    <tr>
      <th>id</th>
      <th>title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.id }}</td>
      <td>
        <a routerLink="/books/{{book.id}}">
          {{ book.title }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
