<form class="pure-form pure-form-stacked" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <label for="name">
    name
  </label>
  <input id="name" type="text" formControlName="name" required />

  <button class="pure-button" type="submit" [disabled]="!categoryForm.valid">Submit</button>
</form>
